// ------------ HEADER ------------
$menu-color: #fff;

// ------------ HOME ------------
$background-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);


// ------------ FORM ------------
$error-message: #cc0000;
$submit-button-background: #cc0000;
$submit-button-color: #fff;
$form-background-color: #fff;
